dill==0.3.0
numpy==1.16.2
pandas==0.24.2
torch==1.3.0
torch-scatter==1.3.2
torch-cluster==1.4.5
torch-sparse==0.4.3
torch-spline-conv==1.1.1
torch-geometric==1.3.2
torchvision==0.4.1
tqdm==4.31.1
seaborn==0.9.0
matplotlib==3.0.3
transformers==2.8.0
